body {
  font-family: 'Poppins', sans-serif;
  background-color: #8EC6DF;
  /* background: linear-gradient(180deg, #00c6ff 40%, #0072ff 80%, #005f99 100%);
  height: 100vh;
  margin: 0; */
}

/* start nav */
.logo {
  width: 180px;
  height: auto;
}

#navbarNav a:hover{
  color: #f3d63c;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff; 
}
/* end nav */